@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);/* Top section */

.top-footer {
  height: 160px;
  width: 100%;
  position: relative;
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-footer ul li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  padding: 35px;
}

.top-footer ul li img {
  height: 55px;
  margin-right: 16px;
}

.top-footer ul li .svg-img {
  width: 55px;
}

/* Mid section */

.mid-footer {
  background: url("/img/footer-bg.jpg") no-repeat;
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 120px;
}

.mid-footer .logo-bg {
  height: 575px;
}

.mid-footer .links-lists {
  display: flex;
  margin-bottom: 20px;
}

.mid-footer .links-lists h3 {
  margin: 18px 0;
  color: white;
}

.mid-footer .links-lists ul {
  flex-direction: column;
  color: #838689;
}

.mid-footer .links-lists ul li {
  font-size: 12px;
  margin-top: 5px;
}

.mid-footer .links-lists .single-list {
  margin-right: 40px;
}

.mid-footer .links-lists .comics-shop {
  display: flex;
  flex-direction: column;
}

.mid-footer .policy {
  font-size: 12px;
  margin-bottom: 15px;
  color: #838689;
}

.mid-footer .policy .cookie,
.mid-footer .policy span {
  color: #0282f9;
}

/* End section */

.spam-cont {
  height: 100px;
  background-color: #303030;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 270px;
}

.spam-cont input {
  background-color: transparent;
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #0282f9;
  color: white;
}

.spam-cont input:hover {
  background-color: #0282f9;
}

.spam-cont nav {
  display: flex;
  align-items: center;
}

.spam-cont nav h3 {
  color: #0282f9;
  margin-right: 30px;
}

.spam-cont nav ul li {
  margin-right: 20px;
}

.blue-line {
  width: 100%;
  background-color: #0282f9;
}

.blue-line .text {
  padding: 5px 0;
  font-size: 11px;
  color: white;
  display: flex;
  width: 1600px;
  justify-content: flex-end;
}

.blue-line .text div {
  margin-left: 65px;
}

.blue-line .text .open-menu {
  display: flex;
}

.blue-line .text .open-menu i {
  padding-left: 5px;
  font-size: 9px;
}

.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar .dc-logo > img {
  width: 75px;
  margin-right: 85px;
}

.navigation-bar ul {
  font-size: 15px;
  font-weight: 600;
}

.navigation-bar ul li {
  padding: 46px 0px;
  margin: 0 20px;
  border-bottom: 4px solid transparent;
  display: flex;
}

.navigation-bar ul li:hover {
  border-bottom: 4px solid #0282f9;
}

.navigation-bar ul li:hover a {
  color: #0282f9;
}

.navigation-bar ul li a {
  text-decoration: none;
  color: #504c50;
}

.navigation-bar ul li i {
  color: #0282f9;
  font-size: 13px;
  padding-left: 8px;
}

.navigation-bar .search-bar {
  color: #504c50;
  padding-bottom: 4px;
  border-bottom: 2px solid #0282f9;
  width: 140px;
  display: flex;
  margin-left: 50px;
}

.navigation-bar .search-bar input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  margin-right: 6px;
  color: #0282f9;
  font-size: 14px;
  font-weight: bold;
}

.navigation-bar .search-bar input::-moz-placeholder {
  text-align: right;
  color: #504c50;
}

.navigation-bar .search-bar input:-ms-input-placeholder {
  text-align: right;
  color: #504c50;
}

.navigation-bar .search-bar input::placeholder {
  text-align: right;
  color: #504c50;
}

.teen-t-jumbo {
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
}

.black-bar {
  background-color: #1c1c1c;
  color: white;
}

.black-bar .container {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.black-bar .container .ad-series,
.black-bar .container .load {
  background-color: #0282f9;
  text-align: center;
  font-weight: 600;
}

.black-bar .container .ad-series {
  padding: 15px 30px;
  font-size: 25px;
  position: absolute;
  left: 0;
  top: -35px;
}

.black-bar .container .load {
  margin-bottom: 20px;
  line-height: 40px;
  padding: 0 60px;
  font-size: 12px;
  height: 40px;
}

.black-bar .container .comic-card {
  width: 180px;
  margin: 50px 15px;
}

.black-bar .container .comic-card .card-img {
  height: 180px;
  width: 100%;
}

.black-bar .container .comic-card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.black-bar .container .comic-card .title {
  margin-top: 20px;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

li,
input,
.btn-main-s {
  cursor: pointer;
}

